@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Regular';
    src: url('subset-MXiangHeHeiTC-Regular.woff2') format('woff2'),
        url('subset-MXiangHeHeiTC-Regular.woff') format('woff');

    font-display: swap;
}

