@import url('../../../settings/config.less');

.QuestionPrevButton {
	display: none;
	transition: 0.1s;

	@apply font-heavyTC text-2xl text-primary;

	&:hover {
		@apply scale-105 text-secondary;
	}
}

@media only screen and (max-width: @SM) {
	.QuestionPrevButton {
		transition: none;
		// &:hover {
		// 	@apply scale-100 text-secondary;
		// }
		&:active {
			@apply scale-105 text-white;
		}
	}
}
