@import url('../../../settings/config.less');

.Symbols {
	position: absolute;
	width: 0;
	height: 0;

	& > div {
		position: absolute;
		transform: translateY(-700px);
	}

	& > div:nth-child(1) {
		top: -470px;
		left: -480px;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;

		@scale: 0.8;
		@img: './img/symbols-star-0.png';
	}

	& > div:nth-child(2) {
		top: -320px;
		left: 340px;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;

		@scale: 0.8;
		@img: './img/symbols-star-1.png';
	}

	& > div:nth-child(3) {
		top: -134px;
		left: -342px;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;

		@scale: 0.7;
		@img: './img/symbols-star-2.png';
	}
	.reverse {
		animation-direction: reverse;
	}

	.elasticObject {
		animation-name: elastic;
		animation-duration: 0.7s;
		animation-timing-function: ease-in-out;

		animation-fill-mode: forwards;
	}

	@keyframes elastic {
		0% {
			transform: translateY(-500px);
		}
		32.87% {
			transform: translateY(120.83px);
		}
		59.81% {
			transform: translateY(-72.34px);
		}
		81.90% {
			transform: translateY(32.58px);
		}
		100.00% {
			transform: translateY(0px);
		}
	}
}

@media only screen and (max-width: @MD) {
	.Symbols {
		& > div:nth-child(1) {
			left: -350px;
		}

		& > div:nth-child(2) {
			left: 230px;
		}
	}
}

@media only screen and (max-width: @SM) {
	.Symbols {
		& > div:nth-child(1) {
			top: -550px;
			left: -325px;
			width: image-width(@img) * @scale;
			height: image-height(@img) * @scale;
			background-image: url(@img);

			@scale: 0.6;
			@img: './img/symbols-star-0.png';
		}

		& > div:nth-child(2) {
			top: -230px;
			left: 290px;
			width: image-width(@img) * @scale;
			height: image-height(@img) * @scale;
			background-image: url(@img);

			@scale: 0.6;
			@img: './img/symbols-star-1.png';
		}

		& > div:nth-child(3) {
			top: -113px;
			left: -362px;
			width: image-width(@img) * @scale;
			height: image-height(@img) * @scale;
			background-image: url(@img);

			@scale: 0.6;
			@img: './img/symbols-star-2.png';
		}
	}
}
