.Buddy {
	position: relative;
	z-index: 1;
	overflow: hidden;
	margin-top: 25px;
	width: 100%;
	height: 218px;
	border: solid 2px #cd718c;
	background: linear-gradient(0deg, #141043 0%, rgba(174, 71, 115, 1) 100%);
	box-shadow: 0 0 20px #c95e8a;
	@apply flex flex-row items-center justify-center space-x-6 rounded-2xl px-8;

	&::after {
		position: absolute;
		right: 0px;
		bottom: -26px;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;
		content: '';
		pointer-events: none;

		@scale: 0.71;
		@img: './img/star.svg';
	}

	.box {
		position: relative;
		width: 132px;
		height: 100%;

		.image {
			margin-top: 15px;
			padding-bottom: 105%;
			width: 100%;
			background-color: #c95e8a;
			background-position: center;
			background-size: cover;
			@apply rounded-xl text-center;
		}

		.name {
			width: 100%;
			text-align: center;
			@apply flex flex-row items-center justify-center py-1 font-heavyTC text-xl font-black tracking-widest text-secondary;

			.capitalize {
				margin: 0 2px 0 1px;
				margin-top: -1px;
				width: image-width(@img) * @scale;
				height: image-height(@img) * @scale;
				background-image: url(@img);
				background-size: 100%;

				@scale: 0.78;
				@img: './img/capitalize.svg';
			}
		}

		.productName {
			width: 100%;
			@apply flex justify-center;

			& > div {
				width: 86%;
				background-color: #000;
				text-align: center;
				@apply rounded-t-lg font-mediumTC text-base font-medium;
			}
		}
	}

	.message {
		position: relative;
		height: 100%;
		@apply flex flex-1 flex-col items-center justify-start;

		.title {
			position: relative;
			margin-top: 12px;
			width: image-width(@img) * @scale;
			height: image-height(@img) * @scale;
			background-image: url(@img);
			background-size: 100%;

			@scale: 0.71;
			@img: './img/title.svg';

			&::after {
				position: absolute;
				bottom: -32px;
				width: image-width(@img) * @scale;
				height: image-height(@img) * @scale;
				background-image: url(@img);
				background-size: 100%;
				content: '';

				@img: './img/heart.svg';
			}
		}

		.body {
			margin-top: 23px;
			width: 100%;
			text-align: center;

			@apply font-regularTC tracking-widest;
		}
	}
}
