.Foods {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	pointer-events: none;

	.coke-0 {
		position: absolute;
		top: -201px;
		left: 177px;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;

		@scale: 0.8;
		@img: './img/coke-0.png';
	}

	.hamburger {
		position: absolute;
		top: -172px;
		left: -254px;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;

		@scale: 0.8;
		@img: './img/hamburger.png';
	}

	.friedChicken {
		position: absolute;
		top: -128px;
		left: 28px;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;

		@scale: 0.8;
		@img: './img/friedChicken.png';
	}

	.chickenNuggets {
		position: absolute;
		top: -56px;
		left: 186px;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;

		@scale: 0.8;
		@img: './img/chickenNuggets.png';
	}

	.McFlurry {
		position: absolute;
		top: 35px;
		left: 12px;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;

		@scale: 0.8;
		@img: './img/McFlurry.png';
	}

	.fried {
		position: absolute;
		top: 5px;
		left: -154px;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;

		@scale: 0.8;
		@img: './img/fried.png';
	}

	.coffee {
		position: absolute;
		top: -35px;
		left: -63px;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;

		@scale: 0.8;
		@img: './img/coffee.png';
	}

	.coke-1 {
		position: absolute;
		top: -73px;
		left: -339px;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;

		@scale: 0.8;
		@img: './img/coke-1.png';
	}
}
