.Information {
	position: relative;
	width: 100%;
	height: auto;

	@apply flex flex-row items-start justify-center p-16;

	.headline {
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;

		@scale: 0.72;
		@img: './img/headline.svg';
	}

	.product {
		padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
		width: 100%;
		background-size: cover;

		@img: './img/photo/3.png';
	}

	.pENT {
		background-image: url('./img/photo/0.png');
	}

	.pENF {
		background-image: url('./img/photo/1.png');
	}

	.pESF {
		background-image: url('./img/photo/2.png');
	}

	.pINT {
		background-image: url('./img/photo/3.png');
	}

	.pEST {
		background-image: url('./img/photo/4.png');
	}

	.pISF {
		background-image: url('./img/photo/5.png');
	}

	.pIST {
		background-image: url('./img/photo/6.png');
	}

	.pINF {
		background-image: url('./img/photo/7.png');
	}

	.title {
		margin-top: 138px;
		color: #000;

		@apply flex w-full items-center justify-start font-mediumTC text-3xl font-medium;

		&::after {
			margin-left: 5px;
			width: image-width(@img) * @scale;
			height: image-height(@img) * @scale;
			background-image: url(@img);
			background-size: 100%;
			content: '';

			@scale: 0.75;
			@img: './img/plus.svg';
		}
	}

	.subTitle {
		@apply mt-1 flex w-full items-center justify-start font-mediumTC text-3xl font-medium text-black;
	}

	.description {
		@apply mt-2 w-full text-justify font-bookTC font-light text-black;
	}
}
