@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./animate.less');

body {
	margin: 0;
	font-family: 'Microsoft JhengHei', '微軟正黑體', 'PingFang', 'LiHei Pro', '黑體-繁', sans-serif;

	text-size-adjust: none;
	overscroll-behavior: none;
	@apply bg-background text-color;
}

@layer components {
	.App {
		user-select: none;
		@apply absolute h-full w-full overflow-hidden;
		* {
			-webkit-tap-highlight-color: transparent;
		}
	}
}
