@font-face {
    font-weight: 900;
    font-style: normal;
    font-family: 'Heavy';
    src: url('subset-MXiangHeHeiTC-Heavy.woff2') format('woff2'),
        url('subset-MXiangHeHeiTC-Heavy.woff') format('woff');

    font-display: swap;
}

